{% extends 'base.html' %}

{% block title %}Portfólio de {{ portfolio.user.username }}{% endblock %}
{% block imports %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
{% endblock %}

{% block js %}
<script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        marked.setOptions({
            sanitize: true,
        });

        const rawMarkdown = document.getElementById('raw-markdown').value;
        const htmlContent = marked.parse(rawMarkdown);
        document.getElementById('markdown-content').innerHTML = htmlContent;
    });
</script>
{% endblock %}

{% block style %}
<style>
    .vote-button {
        background: none;
        border: none;
        cursor: pointer;
        padding: 0;
        transition: transform 0.3s ease; /* Animação de clique e hover */
    }
    
    .vote-button:hover {
        transform: scale(1.1); /* Aumenta o botão no hover */
    }
    
    .vote-button:active {
        transform: scale(1.2); /* Aumenta ainda mais quando clicado */
    }
    
    .vote-button svg {
        width: 50px;
        height: 50px;
        transition: fill 0.3s ease, transform 0.3s ease; /* Transições suaves para cor e escala */
    }
    
    .vote-button svg path {
        transition: fill 0.3s ease; /* Animação de cor suave */
    }
    
    .vote-button.voted svg {
        fill: #ff6d00; /* Cor do fogo aceso quando votado */
    }
    
    .vote-button.unvoted svg {
        fill: #000; /* Cor quando não votado (fogo apagado) */
    }    
</style>
{% endblock %}

{% block content %}
<div class="container mt-5">
    <!-- Nav Tabs -->
    <ul class="nav nav-tabs" id="portfolioTabs" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">Página Inicial</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="projects-tab" data-bs-toggle="tab" data-bs-target="#projects" type="button" role="tab" aria-controls="projects" aria-selected="false">Projetos</button>
        </li>
        {% if user == portfolio.user %}
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="stats-tab" data-bs-toggle="tab" data-bs-target="#stats" type="button" role="tab" aria-controls="stats" aria-selected="false">Estatísticas</button>
        </li>
        {% endif %}
    </ul>

    <div class="tab-content mt-3" id="portfolioTabsContent">
        <!-- Tab de Página Inicial -->
        {% include 'portfolios/portfolio/partials/user_portfolio/_pagina_inicial.html' %}
        
        <!-- Tab de Projetos -->
        {% if user.is_ultra %}
        {% include 'portfolios/portfolio/partials/user_portfolio/_projetos_ultra.html' %}
        <a href="{% url 'portfolio:file_manager' user.username %}">Gerenciador de Arquivos</a>
        {% else %}
        {% include 'portfolios/portfolio/partials/user_portfolio/_projetos.html' %}
        {% endif %}


        <!-- Tab de Estatísticas -->
        {% include 'portfolios/portfolio/partials/user_portfolio/_estatisticas.html' %}
    </div>
</div>
{% endblock %}
