{% load static %}

<footer class="bg-light text-center text-lg-start mt-5">
    <div class="container p-4">
        <p>&copy; 2024 Portifolizer. Todos os direitos reservados.</p>
        <ul class="list-inline">
            <li class="list-inline-item"><a href="{% url 'pages:about' %}">Sobre Nós</a></li>
            <li class="list-inline-item"><a href="{% url 'pages:privacy' %}">Política de Privacidade</a></li>
            <li class="list-inline-item"><a href="{% url 'pages:terms' %}">Termos de Uso</a></li>
        </ul>
    </div>
</footer>
